body {
    padding-top: 80px;          /* So that the navbar doesnt cover content */
}
@media (max-width: 979px) {
    body {
        padding-top: 80px;
    }
}
@media (max-width: 262px) {
    body {
        padding-top: 110px;
    }
}

#login-dp {                                     /* from https://bootsnipp.com/snippets/DV3m4 */
    min-width: 250px;
    padding: 10px 10px 0;
    overflow:hidden;
}

#login-dp .help-block {
    font-size:12px
}

#login-dp .bottom {
    border-top:1px solid #ddd;
    clear:both;
    padding: 10px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}