*.xml
*.idea
*.iml
*.jpg
*.jpeg
/summernote/font/summernote.eot
/summernote/font/summernote.ttf
/summernote/font/summernote.woff
/summernote/lang/summernote-ar-AR.js
/summernote/lang/summernote-bg-BG.js
/summernote/lang/summernote-ca-ES.js
/summernote/lang/summernote-cs-CZ.js
/summernote/lang/summernote-da-DK.js
/summernote/lang/summernote-de-DE.js
/summernote/lang/summernote-el-GR.js
/summernote/lang/summernote-es-ES.js
/summernote/lang/summernote-es-EU.js
/summernote/lang/summernote-fa-IR.js
/summernote/lang/summernote-fi-FI.js
/summernote/lang/summernote-fr-FR.js
/summernote/lang/summernote-gl-ES.js
/summernote/lang/summernote-he-IL.js
/summernote/lang/summernote-hr-HR.js
/summernote/lang/summernote-hu-HU.js
/summernote/lang/summernote-id-ID.js
/summernote/lang/summernote-it-IT.js
/summernote/lang/summernote-ja-JP.js
/summernote/lang/summernote-ko-KR.js
/summernote/lang/summernote-lt-LT.js
/summernote/lang/summernote-lt-LV.js
/summernote/lang/summernote-mn-MN.js
/summernote/lang/summernote-nb-NO.js
/summernote/lang/summernote-nl-NL.js
/summernote/lang/summernote-pl-PL.js
/summernote/lang/summernote-pt-BR.js
/summernote/lang/summernote-pt-PT.js
/summernote/lang/summernote-ro-RO.js
/summernote/lang/summernote-ru-RU.js
/summernote/lang/summernote-sk-SK.js
/summernote/lang/summernote-sl-SI.js
/summernote/lang/summernote-sr-RS.js
/summernote/lang/summernote-sr-RS-Latin.js
/summernote/lang/summernote-sv-SE.js
/summernote/lang/summernote-ta-IN.js
/summernote/lang/summernote-th-TH.js
/summernote/lang/summernote-tr-TR.js
/summernote/lang/summernote-uk-UA.js
/summernote/lang/summernote-uz-UZ.js
/summernote/lang/summernote-vi-VN.js
/summernote/lang/summernote-zh-CN.js
/summernote/lang/summernote-zh-TW.js
/summernote/plugin/databasic/summernote-ext-databasic.css
/summernote/plugin/databasic/summernote-ext-databasic.js
/summernote/plugin/hello/summernote-ext-hello.js
/summernote/plugin/specialchars/summernote-ext-specialchars.js
/summernote/summernote.css
/summernote/summernote.js
/summernote/summernote.min.js
/summernote/summernote-bs4.css
/summernote/summernote-bs4.js
/summernote/summernote-bs4.min.js
/summernote/summernote-lite.css
/summernote/summernote-lite.js
/summernote/summernote-lite.min.js
/Views/img/3-0.jpg
/Views/img/3-1.jpg
/Views/img/3-2.jpg
/Views/img/3-3.jpg
/Views/img/3-4.jpg
